<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Library Software for University</a></h1>
				
			</div>
			<div id="ssocial">
				<ul class="contact">

					
				</ul>
			</div>
		</div>
		<div id="menu" class="container">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="login.html" accesskey="1" title="">Login</a></li>
				<li><a href="badges.html" accesskey="2" title="">Transactions</a></li>
				<li><a href="collapsible.html" accesskey="3" title="">Request A Book</a></li>
				<!--
				<li><a href="#" accesskey="4" title="">Careers</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
				-->
			</ul>
		</div>
	</div>
	<div id="page" class="container">
		<div class="column1">
			<div class="title">
				<h2>Library Management</h2>
			</div>
			<p>We provide a solution to fully manage the day to day activities of a library.The software contains many useful features such as transaction management and recording the history of the books and much more.</p>
		</div>
		<div class="column2">
			<div class="title">
				<h2>Remotely accessible</h2>
			</div>
			<img src="images/pic01.jpg" width="282" height="150" alt="" />
			<p>The website can be accessed by a student through any device.</p>
		</div>
		<div class="column3">
			<div class="title">
				<h2>Voice-assisted</h2>
			</div>
			<img src="images/pic02.jpg" width="282" height="150" alt="" />
			<p>With the ongoing adaption of the use of voice assisted technology, the website is aided with voice recogniton abilities to enhance the experience of the user.</p>
		</div>
		<div class="column4">
			<div class="title">
				<h2>Time-Saving</h2>
			</div>
			<img src="images/pic03.jpg" width="282" height="150" alt="" />
			<p>The use of a computerized solution will help the institution and the student by cutting down on their visits to the library.</p>
		</div>
	</div>
	
</div>
<div id="footer">
	
</div>
</body>
</html>
